
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a1e;

}

.main-container{
  font-family: monospace;
  line-height: 1.5;
  color: #999999;
  font-size: 13px;
  padding: 15px;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 70px;
  letter-spacing: 0.05em;

}

.logo{
  width: 45px;
  height: 45px;
}



.highlighted-text{
background-color: rgba(152, 170, 189, 0.08);
padding: 2px 4px;
border-radius: 4px;
}

.card{
  border: 1px solid #999999;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.gallery{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 15px;
}

.gallery-img{
height: 200px;
}

.socials-link{
  text-decoration: none;
  color: #999999;
text-decoration: underline;
margin-right: 10px;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card-project {
  width: calc(50% - 10px);
  box-sizing: border-box;
  background-color: rgba(41, 41, 41, 0.9); /* Light background */
  padding: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-project strong, 
.card-project small, 
.card-project p {
  background: transparent !important; /* Remove black background */
  padding: 0; /* Remove any extra padding */
}

.card-project a {
  background: transparent !important; /* Remove black background */
  padding: 0; /* Remove any extra padding */
  color: #999999;
}
